{% load static %}

<!DOCTYPE html>
<html lang="nl">
<head>
    <style>

    #guide-button {
      font-weight: bold;
      transition: 1s;
    }

    #guide-button:visited {
        color: white;
        background-color: black;
    }

    #guide-button:hover {
        background-color: red;
    }


    </style>
</head>
<body>
    <p>
        Beste gidsen<br>
    </p>
    <br>

    <p>
        Er is een verandering doorgevoerd. {{chosen_visit.toegewezenGids}} is nu de nieuwe toegewezen gids van volgend bezoek:
        <ul>
        <li>boekingsnummer: {{chosen_visit.id}}</li>
        <li>gekozen module: {{chosen_visit.module}}</li>
        <li>datum: {{chosen_visit.datum}}</li>
        <li>tijdstip: {{chosen_visit.tijdstip}}</li>
        <li>naam: {{chosen_visit.groepsnaam}}</li>
        <li>contactpersoon: {{chosen_visit.voornaamContactpersoon}} {{chosen_visit.familienaamContactpersoon|upper}}</li>
        <li>e-mailadres: {{chosen_visit.emailContactpersoon}}</li>
        <li>telefoonnummer: {{chosen_visit.telContactpersoon}}</li>
        {% if chosen_visit.isSchool %}
            <li>school: ja</li>
            <li>onderwijsniveau: {{chosen_visit.onderwijsniveau}}</li>
            <li>studierichting: {{chosen_visit.studierichting}}</li>
            <li>(studie)jaar: {{chosen_visit.studiejaar}}</li>
        {% else %}
            <li>school: nee</li>
        {% endif %}
        <li>aantal personen: {{chosen_visit.aantalPersonen}}</li>
        {% if chosen_visit.heeftBeperkteMobiliteit %}
            <li>beperkte mobiliteit: ja</li>
        {% else %}
            <li>beperkte mobiliteit: nee</li>
        {% endif %}
        {% if chosen_visit.lunchVooruitzicht %}
        <li>eigen lunch in 't Vooruitzicht: ja</li>
        {% else %}
        <li>eigen lunch in 't Vooruitzicht: nee</li>
        {% endif %}
        </ul>
    </p>
    De gids kan nog gewijzigd worden via <a href="{{domain}}/bezoek/{{chosen_visit.id}}">{{domain}}/bezoek/{{chosen_visit.id}}</a>.

    <br>
    <p>
        Met vriendelijke groeten<br>
        Het boekingssysteem<br>
        
    </p>
</body>
