{% extends "MyPlanner/base.html" %}
{% load static %}

{% block stylesheets %}
<link href="{% static 'MyPlanner/css/sortable.min.css' %}" rel="stylesheet" />
<link href="{% static 'MyPlanner/css/all-visits.css' %}" rel="stylesheet" />
<script src="{% static 'MyPlanner/js/sortable.min.js' %}"></script>
{% endblock %}

{% block content %}
<main class="mx-3">
    {# javascript sorting code: https://github.com/tofsjonas/sortable #}

    <h1>Alle <strong>gearchiveerde</strong> bezoeken</h1>
    <p class="helptext" style="text-align: left;">
        Alle bezoeken worden automatisch gesorteerd op datum en tijd, van nieuw naar oud.<br>
        U kan op de kolomkoppen klikken om de tabel te sorteren op een andere kolom.
    </p>

    <table class="sortable asc table table-striped table-hover table-sm py-5 my-5">
        <thead class="thead-dark">
            <th data-sortable="true">ID</th>
            <th id="default-sort" data-sortable="true" data-sorter="datesSorter">Datum, tijdstip</th>
            <th data-sortable="true">Groepsnaam</th>
            <th data-sortable="true">Naam contactpersoon</th>
            <th data-sortable="true">E-mailadres contactpersoon</th>
            <th data-sortable="true">Telefoon contactpersoon</th>
            <th data-sortable="true">Aantal personen</th>
            <th data-sortable="true">Beperkte mobiliteit?</th>
            <th data-sortable="true">Eigen eigen lunch in 't Vooruitzicht?</th>
            <th data-sortable="true">Toegewezen gids</th>
            <th data-sortable="true">Gekozen module</th>
            <th data-sortable="true">School?</th>
        </thead>

        <tbody>
            {% for visit in all_archived_visits %}
            <tr>
                <td><a href="/bezoek/{{ visit.id }}">{{ visit.id }}</a></td>
                <td data-sort={{ visit.datum|date:"U"}}{{ visit.tijdstip|time:"H" }}{{ visit.tijdstip|time:"M"}}>{{visit.datum|date:"d/m/Y" }} {{ visit.tijdstip }}</td>
                <td>{{ visit.groepsnaam }}</td>
                <td>{{ visit.voornaamContactpersoon }} {{ visit.familienaamContactpersoon }}</td>
                <td>{{ visit.emailContactpersoon }}</td>
                <td>{{ visit.telContactpersoon }}</td>
                <td>{{ visit.aantalPersonen }}</td>
                <td>{{ visit.toegewezenGids }}</td>
                {% if visit.heeftBeperkteMobiliteit %}
                <td>ja</td>
                {% else %}
                <td>nee</td>
                {% endif %}
                {% if visit.lunchVooruitzicht %}
                <td>ja</td>
                {% else %}
                <td>nee</td>
                {% endif %}
                <td>{{ visit.module }}</td>
                {% if visit.isSchool %}
                <td>ja</td>
                {% else %}
                <td>nee</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="py-4 helptext">
        Bekijk alle openstaande bezoeken <a href="/bezoeken/">hier</a>.
    </p>

</main>
<script>
    // Click on the default sort column to sort the table
    window.addEventListener('load', function () {
        const el = document.getElementById('default-sort')
        if (el) {
            el.click()
        }
    })
</script>

{% endblock %}
