{% load static %}
<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'MyPlanner/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'MyPlanner/css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'MyPlanner/images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'MyPlanner/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'MyPlanner/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'MyPlanner/images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'MyPlanner/images/favicon/safari-pinned-tab.svg' %}" color="#f8b800">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
    <header class="header">
        {% block header %}
        <!-- navbar -->
        <nav class="navbar navbar-light navbar-expand-lg px-3">
            <div class="container-fluid">
                <a id="navbarlogo" href="/">
                    <img alt="logo" src="{% static 'MyPlanner/images/logo.svg' %}" />

                    {% if current_user.is_authenticated %}
                    <p id="login_info_nav">ingelogd als: <i>{{ current_user }}</i></p>
                    {% endif %}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Overzichtspagina's
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" href="/filter-bezoeken/">Uw bezoeken</a>
                                <a class="dropdown-item" href="/bezoeken/">Alle bezoeken</a>
                                <a class="dropdown-item" href="/archief-bezoeken/">Archief</a>
                            </div>
                        </li>

                        {% if current_user.is_superuser %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Beheer gebruikers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="/nieuwe-gids/">Nieuwe gids toevoegen</a>
                                <a class="dropdown-item" href="/admin/auth/user/">Gids verwijderen</a>
                            </div>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/logout?next=/">Uitloggen</a>
                        </li>

                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/bezoeken/">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
    </header>


    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
        <p>Copyright &copy; 2023</p>
        {% endblock %}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>
